* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Pappins', sans-serif;
}

:root {
    --bg-color : #1f242d;
    --second-bg-color : #323946;
    --text-color :#fff;
    --main-color : #F1C27B;
    --whatsapp-color : #00DFA2;
    --facebook-color : #00C4FF;
    --insta-color : #E4405F;
}

html {
    font-size : 62.5%;
    overflow: hidden;

}

body {
    background :var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.8rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 10rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.home-img img {
    width: 35vw;

}

.home-content h3 {
    font-size: 7rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 7.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;   
}

span {
    color: var(--main-color);
}

.home-content p {
    font-size: 2.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:  0 0 1rem var(--main-color);
    font-size: 1.9rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow :none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem ;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;

}

.about-content h3 {
    font-size: 3.6rem;
}

.about-content p {
    font-size: 2.6rem;
    margin:2rem 0 3rem;
}

.Skills h2 {
    font-size: 9rem;
    margin-bottom: 16rem;
}

.Skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.Skills-container .Skills-box {
    flex: 1 1 30;
    background: var(--second-bg-color);
    padding: 6rem 5rem 7rem;
    border-radius: 3rem;
    text-align: center;
    border: .3rem solid var(--bg-color);
    transition: .5s ease;
}

.Skills-container .Skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.Skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.Skills-box h3 {
    font-size: 4.6rem;
}

.Skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
}

.Projects {
    background: var(--second-bg-color);
}

.Projects h2 {
    margin-bottom: 4rem;
}

.Projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.Projects-container .Projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.Projects-box img {
    width: 100%;
}


.contact h2 {
    font-size: 5rem;
    margin-bottom: 16rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.contact-container .contact-box {
    flex: 1 1 30;
    background: var(--second-bg-color);
    padding: 6rem 5rem 7rem;
    border-radius: 3rem;
    text-align: center;
    border: .3rem solid var(--bg-color);
    transition: .5s ease;
}

.contact-container .contact-box:hover {
    border-color: var(--whatsapp-color);
    transform: scale(1.02);
}

.contact-box i {
    font-size: 7rem;
    color: var(--whatsapp-color);
}

.contact-box j {
    font-size: 7rem;
    color: var(--facebook-color);
}

.contact-box k {
    font-size: 7rem;
    color: var(--insta-color);
}

.contact-box h3 {
    font-size: 4.6rem;
}

.contact-box p {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
}